.burger-list {
  margin: 0 auto;
  margin-top: 75px;
}

input.new-item:focus {
  outline: none;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-left: 5px;
}

.edit {
  width: 100%;
}

.burger-list {
  list-style-type: none;
}

header {
  margin-top: 25px;
  background-color: black;
}

img {
  
  width: 50%;
}

.container-fluid, body {
  background-color: black;
}

h2, h1, li,label, p {
  color: white;
  
}